@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body,h1,h2,h3,h4,h5,h6 {font-family: "Noto Sans JP", sans-serif;}

body, html {
	height:100%;
	color: #f5f5f5;
	line-height: 1.8;
	background-color: #2B2B2B;
	background-image: url("./Images/ytbannernoxin.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a:link {
	color: #f5f5f5;
	text-decoration: none;
}

a:visited {
	color: #f5f5f5;
	text-decoration: none;
}

a:active {
	color: #f5f5f5;
	text-decoration: none;
}

i {
	font-size: 18px;
	color: #777;
}

.main {
	height:100vh;
	padding-top:30vh;
}

.centerSearch {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 50px;
  transition: 0.1s;
}

.searchbar {
	width:98%;
	font-size: 18px;
	outline: none;
	background-color: #f8f8f8;
	color:#333333;
}
	
.searchicon {
	font-size:20px;
    padding-right: 0.7rem !important;
    padding-bottom: 0.4rem !important;
    padding-left: 1rem !important
}

.centerSearch:focus-within {
	box-shadow: 0px 0px 5px 0px gray;
	-webkit-box-shadow: 0px 0px 5px 0px gray;
	-moz-box-shadow: 0px 0px 5px 0px gray;
}

.centerSearch:hover {
	box-shadow: 0px 0px 5px 0px gray;
	-webkit-box-shadow: 0px 0px 5px 0px gray;
	-moz-box-shadow: 0px 0px 5px 0px gray);
}

.icon {
	width: auto;
	height: 40px;
	transition: 0.2s;
	margin-top: 5px;
	margin-bottom: 5px;
}	

.name:hover .icon{
	height: 50px;
	cursor: pointer;
	filter:drop-shadow(0px 0px 5px gray);
	margin-top: 0px;
	margin-bottom: 0px;
}
	
p {padding-top: 5px}
	
.name {
	width:100%;
	max-width: 155px;
	min-width:80px;
	text-align: center;
	padding-right: 0px;
	display: inline-block;
	height:100%;
}

a {
	height: 100%;
	width: max-content;
}

.halign {text-align:center}

.xinWave {
	width:100%;
	position: absolute;
	margin-top: -5vw;
	z-index: 0;
}

.glasscontainer{
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display:inline;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}