@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body,h1,h2,h3,h4,h5,h6 {font-family: "Syne Mono", sans-serif;}

body, html{
	height:100%;
	color: #f2f2f2;
	background-color: #333333;
	background-image: url("./images/ytbannernoxin.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wh100 {
	height:100%;
	width:100%;
}

.xin-middle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
	letter-spacing: 5px;
}

@keyframes typer {
	0%		{opacity: 0;}
	75%		{opacity:100;}
	100%	{opacity: 0;}
}

#typer {
	animation-name: typer;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-delay: 1.3s;
}

.cursor {
	vertical-align: middle;
	padding-bottom:5px;
}

.bars {
	margin-top:15px;
	width: 50px;
	height:50px;
	background-color: #333333;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 16.5px
}

@media screen and (max-width: 768px) {
	.bars {
		margin-top:15px;
		width: 100px;
		height:100px;
		background-color: #333333;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 36.5px;
		font-size: 25px
	}
	.sidenav {height: 200px;}
}

.sidenav {
	height: 500px; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 2; /* Stay on top */
	top: 15px; /* Stay at the top */
	left: 0;
	background-color: #333333;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
	display: block;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #f2f2f2;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #dfdfdf;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
