@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body,h1,h2,h3,h4,h5,h6 {font-family: "Syne Mono", sans-serif;}

body, html{
	height:100%;
	color: #f2f2f2;
	background-color: #333333;
	background-image: url("./images/ytbannernoxin.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wh100 {
	height:100%;
	width:100%;
}

/* Side Navigation Menu Styling and Animation */
/* .menuButton {
	background-color: #333333;
	position: fixed;
	width:50px;
	height:50px;
	margin-top:80px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	transition: 0.2s;
	cursor: pointer;
}
.menuButton:hover{
	width:52px;
	filter: drop-shadow(0px 0px 8px #0d0d0d);
} */
.bars {
	text-align:right;
	width:100%;
	height:100%;
	padding-right: 24px;
	padding-top:18px;
}
#menu {
	position: fixed;
	margin-top: 80px;
	margin-left:-205px;
}
#menuTopBar {
	width:265px;
	height:60px;
	background-color: #333333;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
#menuLinks {
	width:205px;
	height:250px;
	background-color: #333333;
	border-bottom-right-radius: 10px;
}

 /* Hero Styling - Typer and Cursor */
.hero {
	letter-spacing: 5px;
	text-align: center !important;
	width: 100% !important;
}
@keyframes typer {
	0%		{opacity: 0;}
	75%		{opacity:100;}
	100%	{opacity: 0;}
}
#typer {
	animation-name: typer;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-delay: 1.3s;
	margin-left:-18px;
	display: inline;
	font-size: 2rem;
	color: rgba(255, 255, 255, .5);
}
.cursor {
	vertical-align: middle;
	padding-bottom:5px;
	--bs-text-opacity: 1;
    color: rgba(255, 255, 255, .5);
	font-size: 1.25rem;
    display: inline;
}


.contents {
	background-color:#333333;
}
